@import "styles/global/vars";

button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  transition: .2s;
  cursor: pointer;
}

.btn {
  font-family: $normal;
  font-size: 1rem;
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  cursor: pointer;
  transition: .2s;

  &-filter {
    text-transform: uppercase;
    font-family: $condensed;
    font-weight: 400;
    font-size: .9rem;
    color: $grey;
    transition: .2s;
    margin: 0 3px 3px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 220px;
    padding: 3px 4px 2px 20px;
    min-height: 25px;

    span {
      transition: .1s;
      line-height: 15px;
    }

    &.active {
      color: $black;
      &:before {
        background-color: $cyan;
        box-shadow: inset 0 0 0 2px #fff
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 13px;
      height: 13px;
      border: 1px solid;
      left: 0;
      top: calc(50% - 7px);
    }


    &:hover {
      cursor: pointer;
      z-index: 1;
      color: $black;

      & span {
        font-size: 1rem;;
      }
    }
  }

  &-assoc {
    text-transform: uppercase;
    font-family: $condensed;
    font-weight: 400;
    color: $grey;
    font-size: .9rem;
    transition: .2s;
    margin: 0 3px 3px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 260px;
    padding: 3px 4px 2px 0;
    min-height: 25px;

    span {
      transition: .1s;
      line-height: 15px;
    }

    &.active {
      color: $cyan;
      opacity: 1;
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
      z-index: 1;
      color: $black;


      & span {
        font-size: 1rem;;
      }
    }
  }

  &-white {
    background-color: $white;
    color: $grey;
    border-color: $grey;
  }

  &-light {
    background-color: $light;
    color: $grey;
    border-color: $light;
  }

  &-grey-light {
    background-color: $grey-light;
    color: $grey;
    border-color: $grey-light;
  }

  &-grey {
    background-color: $grey;
    color: $white;
    border-color: $grey;
  }

  &-yellow {
    background-color: $yellow;
    color: $white;
    border-color: $yellow;
  }

  &-orange {
    background-color: $orange;
    color: $white;
    border-color: $orange;
  }

  &-red {
    background-color: $red;
    color: $white;
    border-color: $red;

    &:hover {
      background-color: darken($red, 10%);
      border-color: darken($red, 10%);
    }
  }

  &-blue {
    background-color: $blue;
    color: $white;
    border-color: $blue;

    &:hover {
      background-color: darken($blue, 7%);
      border-color: darken($blue, 7%);
    }

    &-outline {
      background-color: $white;
      color: darken($blue, 10%);
      border-color: $blue;

      &:hover {
        background-color: darken($blue, 7%);
        color: $white;
        border-color: darken($blue, 7%);
      }
    }
  }

  &-cyan {
    background-color: $cyan;
    color: $white;
    border-color: $cyan;

    &:hover {
      background-color: darken($cyan, 7%);
      border-color: darken($cyan, 7%);
    }

    &-outline {
      background-color: $white;
      color: darken($cyan, 10%);
      border-color: $cyan;

      &:hover {
        background-color: darken($cyan, 7%);
        color: $white;
        border-color: darken($cyan, 7%);
      }
    }
  }

  &-green {
    background-color: $green;
    color: $white;
    border-color: $green;

    &:hover {
      background-color: darken($green, 7%);
      border-color: darken($green, 7%);
    }

    &-outline {
      background-color: $white;
      color: darken($green, 10%);
      border-color: $green;

      &:hover {
        background-color: darken($green, 7%);
        color: $white;
        border-color: darken($green, 7%);
      }
    }
  }

  &-dark {
    background-color: $dark;
    color: $white;
    border-color: $dark;
  }

  &-black {
    background-color: $black;
    color: $white;
    border-color: $black;
  }
}
