@import "styles/global/vars";

.bg-white {
  background-color: $white !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-grey-light {
  background-color: $grey-light !important;
}

.bg-grey {
  background-color: $grey !important;
}

.bg-yellow {
  background-color: $yellow !important;
}

.bg-orange {
  background-color: $orange !important;
}

.bg-red {
  background-color: $red !important;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-cyan {
  background-color: $cyan !important;
}

.bg-green {
  background-color: $green !important;
}

.bg-dark {
  background-color: $dark !important;
}

.bg-black {
  background-color: $black !important;
}

.white {
  color: $white !important;
}

.light {
  color: $light !important;
}

.grey-light {
  color: $grey-light !important;
}

.grey {
  color: $grey !important;
}

.yellow {
  color: $yellow !important;
}

.orange {
  color: $orange !important;
}

.red {
  color: $red !important;
}

.blue {
  color: $blue !important;
}

.cyan {
  color: $cyan !important;
}

.green {
  color: $green !important;
}

.dark {
  color: $dark !important;
}

.black {
  color: $black !important;
}

.border-white {
  border-color: $white !important;
}

.border-light {
  border-color: $light !important;
}

.border-grey-light {
  border-color: $grey-light !important;
}

.border-grey {
  border-color: $grey !important;
}

.border-yellow {
  border-color: $yellow !important;
}

.border-orange {
  border-color: $orange !important;
}

.border-red {
  border-color: $red !important;
}

.border-blue {
  border-color: $blue !important;
}

.border-cyan {
  border-color: $cyan !important;
}

.border-green {
  border-color: $green !important;
}

.border-dark {
  border-color: $dark !important;
}

.border-black {
  border-color: $black !important;
}