// Font
$normal: 'Fira Sans', sans-serif;
$condensed: 'Fira Sans Condensed', sans-serif;

//colors

$white: #ffffff;
$light: #cecece;
$grey-light: #a9a9a9;
$grey: #7b7b7b;
$dark: #242424;
$yellow: #efc457;
$orange: #fa881b;
$red: #ee6259;
$blue: #007bff;
$cyan: #25b7d3;
$green: #2d904c;
$black: #251A35;