.btn {
    margin-bottom: 5px;
}

button:focus {
    outline: none;
}

.dates {
    > p {
        margin: 0;
        font-size: 0.7rem;
    }
}

.navbar {
    &-toggler:focus {
        outline: none;
    }

    &-brand {
        .logo-img{
            width: 30px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: grayscale(1);

            > img {
                width: 100%;
                height: auto;
            }
        }
    }

    &-filters {
        .dropdown-menu {
            min-width: 300px;
        }
    }
}


.btn-outline-error:hover {
    color: #fff !important;
}

.categories {
    p {
        margin: 0;
    }
}

.category{
    &-children-view {
        li {
            line-height: 14px;
        }
    }

    &-list-toggle {
        cursor: pointer;
        > i {
            transition: .2s;
        }
    }
}

.rotate {
    &180{
        transform: rotate(180deg);
    }
}

#offer-info {
    > pre {
        background-color: #f8f9fa;
    }
}

.CodeMirror {
    width: 100%;
    min-height: 600px;
    border-radius: 4px;

    &-gutter-filler {
        background-color: #151515 !important;
    }
}

.json-wrapper {
    .CodeMirror {
        border: 1px solid #b1b1b1;

        &-linenumber {
            display: none;
        }

        &-gutter-filler {
            background-color: #f7f7f7 !important;
        }
    }
}

.attr_label {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 14px;
}