.btn {
    margin-bottom: 5px;
}

button:focus {
    outline: none;
}

.dates {
    > p {
        margin: 0;
        font-size: 0.7rem;
    }
}

.navbar {
    &-toggler:focus {
        outline: none;
    }

    &-brand {
        .logo-img{
            width: 30px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: grayscale(1);

            > img {
                width: 100%;
                height: auto;
            }
        }
    }
}

