@import "styles/global/vars";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/carousel";

.price {
    font-family: $condensed;
    font-weight: 500;
    display: flex;
    padding: 5px 5px 0 5px;
    justify-content: flex-end;

    .old {
        opacity: .5;
        margin-right: 10px;
        position: relative;
        display: inline;
        transform: scale(.9);

        &:before {
            content: '';
            position: absolute;
            width: calc(100% + 5px);
            height: 1px;
            right: -2px;
            top: 8px;
            transform: rotate(-15deg);
            background-color: black;
            box-shadow: 0 0 0 1px #fff;
        }
    }

    .new {
        i {
            font-size: 75%;
            margin-left: 2px;
        }
    }
}

.product {
    &-card {
        position: relative;
        overflow: hidden;
        transition: .2s;
        //margin: 0 15px 30px;

        @media (max-width: 992px) {
            //margin: 0 10px 20px;
        }

        @media (max-width: 992px) {
            //margin: 0 10px 20px;
        }

        @media (max-width: 576px) {
            //margin: 0 5px 20px;
        }

        .discount {
            background-color: #ff4c41;
            color: $white;
            font-family: $condensed;
            position: absolute;
            min-width: 100px;
            text-align: center;
            transform: rotate(45deg);
            z-index: 1;
            top: 13px;
            right: -27px;
            font-size: 1.1rem;
            font-weight: 600;

            @media (max-width: 420px) {
                top: 7px;
                right: -31px;
                font-size: 1rem;
            }

        }

        &:hover {
            & .title {
                color: darken($cyan, 15%);
            }

            & .description {
                opacity: 1;
            }

            .product-img:before {
                opacity: .15;
            }
        }

        .title {
            width: 100%;
            height: 44px;
            overflow: hidden;
            padding: 5px 0;
            display: flex;
            align-items: start;
            transition: .2s;
            color: darken($cyan, 9%);
            @media (max-width: 420px) {
                height: 40px;
            }

            h2, h3 {
                font-family: $condensed;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 1rem;
                @media (max-width: 420px) {
                    font-size: .9rem;
                }
            }
        }

        .description {
            font-size: .8rem;
            font-family: $condensed;
            padding: 3px 0 0;
            margin: 0 -2px;
            overflow: hidden;
            opacity: .7;
            transition: .2s;
            height: 50px;

            p, span {
                margin: 0 3px;
                white-space: nowrap;
            }
        }

        .about {
            text-align: right;
            margin-top: -2px;
            a {
                font-family: $condensed;
                font-weight: 400;
                opacity: .4;
                font-size: 75%;
                transition: .2s;
                margin-top: -5px;

                &:hover {
                    opacity: .6;
                }
            }
        }
    }

    &-img {
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        @media (max-width: 420px) {
            height: 200px;
        }

        &:before {
            content: '';
            position: absolute;
            background-color: $grey;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: .08;
            z-index: 1;
            transition: .2s;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &-rating {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: .8rem;
        color: $orange;
        @media (max-width: 420px) {
            font-size: .6rem;

        }
    }
}

.modal {
    &-header {
        position: relative;
        overflow: hidden;
        padding-right: 40px;

        .close {
            position: absolute;
            top: 0;
            right: 0;
            background: $white;
            padding: 10px 12px;
            margin: 0;
            transition: .2s;

            &:hover {
                color: $cyan;
            }
        }
    }
}

.attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 50%;

    li {
        font-family: $condensed;
        display: flex;
        align-items: center;

        &:nth-child(odd) {
            background-color: #f3f3f3;
        }

        span{
            width: 50%;
            display: block;
            padding: 5px;
            line-height: 15px;

            &:first-child{
                font-size: .8rem;
            }

            &:last-child {
                font-size: 1rem;
                font-weight: 500;
                text-transform: uppercase;
                @media (max-width: 576px) {
                    font-size: .9rem;
                }
            }

        }
    }
}

.carousel {
    &-item {
        width: 100%;
        height: 450px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @media (max-width: 576px) {
            height: 300px;
        }
    }

    &-control {
        &-icon {
            background: #b7b7b7;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            @media (max-width: 576px) {
                width: 20px;
                height: 20px;
                i {
                    margin-top: 2px;
                    font-size: 80%;
                }
            }
        }

        &-prev {
            i {
                margin-right: 3px;
                @media (max-width: 576px) {
                    margin-right: 1px;
                }
            }
        }

        &-next {
            i {
                margin-left: 3px;
                @media (max-width: 576px) {
                    margin-left: 1px;
                }
            }
        }
    }

    &-indicators {
        position: unset;
        flex-wrap: wrap;
        li {
            text-indent: unset;
            width: unset;
            height: unset;
        }

        .thumb {
            height: 50px;
            border: 1px solid #dee2e6;
            overflow: hidden;
            @media (max-width: 576px) {
                height: 35px;
            }
        }
    }
}

.related-products {
    .product-img{
        height: 215px;
        @media (max-width: 420px) {
            height: 180px;
        }
    }
}

.rating-wrapper {
    margin-left: -6px;
    @media (max-width: 768px) {
        margin-left: -6px;
        margin-top: -6px;
        padding-bottom: 20px;
    }
}

.related-category {
    .deep-category {
        @media (max-width: 576px) {
            height: 46px;
        }
    }
}

.description-product {
    font-size: .9rem;
    line-height: 32px;
    @media (max-width: 992px) {
        line-height: 24px;
    }
    @media (max-width: 768px) {
        font-size: .8rem;
    }
    @media (max-width: 576px) {
        line-height: 16px;
    }
}
