@import "~bootstrap/dist/css/bootstrap-grid.min";
@import "global/global";
@import "styles/sections/top-menu";
@import "styles/sections/categories-menu";
@import "styles/sections/pagination";

.logo {
    &:hover {
        filter: brightness(0.9);
    }

    &-img {
        width: 40px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        > img {
            width: 100%;
            height: auto;
        }
    }
}

.admin {
    &-signin {
        position: absolute;
        bottom: 5px;
        right: 5px;
        color: transparent;

        &:hover {
            color: $grey;
        }
    }
}

.script-time {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 2px;
    font-size: .67rem;
}
