@import "styles/global/vars";

.user {
  &-menu{
    position: relative;

    &-toggle {
      background-color: $cyan;
      color: $white;
      border: 1px solid $cyan;
      cursor: pointer;
      transition: .2s;

      &.active,
      &:hover {
        filter: brightness(0.9);
      }
    }

    &-drop {
      position: absolute;
      right: 0;
      min-width: 100%;
      border: 1px solid;
      margin-top: 10px;
      background-color: $white;
      padding-top: 10px;
      z-index: 999;

      &:before {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        background-color: $white;
        top: -6px;
        right: 10px;
        transform: rotate(45deg);
        border-left: 1px solid;
        border-top: 1px solid;
      }

      .item {
        display: flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        transition: .2s;
        padding: 5px 10px;
        margin-bottom: 10px;

        &:hover {
          background-color: $cyan;
          color: $white;
        }

        .icon {
          margin-right: 5px;
        }
      }
    }
  }
}

.around {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
